<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hub Spot Regression suite">
<test name = "Hub spot functional REgression Test">

    <classes>
         <class name="com.qa.hubspot.test.LoginPageTest"/>
      <class name="com.qa.hubspot.test.HomePageTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
